<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Title" value="StudyTracker"/>
  </appSettings>
  <connectionStrings>
    <add name="default" connectionString="server=.\\mssqlserver01;database=ActivityTracker;integrated security=true;encrypt=false"/>
  </connectionStrings>
</configuration>